{% extends 'base.html' %}
{% load mainapp_tags %}
{% load static %}

{% block content %}
<h6>{% current_time "%X" %}</h6>


        <div class="row tm-row">
            {% for art in posts %}
            <article class="col-12 col-md-6 tm-post">
                <hr class="tm-hr-primary">
                <!-- get_absolute_url -->
                <a href="{{art.get_absolute_url}}" class="effect-lily tm-post-link tm-pt-60">
                    <div class="tm-post-link-inner">
                        
                        {% if art.photo %}
                        <img src="{{art.photo.url}}" alt="Image" height="70%" class="img-fluid" > 
                        {% endif %}
                    </div>
                    <span class="position-absolute tm-new-badge">New</span>
                    
                    <h2 class="tm-pt-30 tm-color-primary tm-post-title">{{art.name}}</h2>
                </a>                    
                <p class="tm-pt-30"> {{art.description}}
                </p>
                <div class="d-flex justify-content-between tm-pt-45">
                    <span class="tm-color-primary">{{art.cat}} </span>
                    <span class="tm-color-primary">{{art.time_created}} </span>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <span> {{art.comments.count}} Comments</span>
                    <span> @{{ art.author }}</span>
                </div>
            </article>

            {% endfor %}

        </div>
{% endblock content %}


        {% block navigation %}
        {% if page_obj.has_previous or page_obj.has_next %}
        <div class="tm-paging-wrapper">
        <nav class="tm-paging-nav d-inline-block">
        <ul>
            {% for p in paginator.page_range %}
                    {% if page_obj.number == p %}
            <li class="tm-paging-item active">
                <a href="?page={{ p }}" class="mb-2 tm-btn tm-paging-link">{{ p }}</a>
            </li>
                {% elif p >= page_obj.number|add:-2 and p <= page_obj.number|add:2  %}
            <li class="tm-paging-item">
            <a href="?page={{ p }}" class="mb-2 tm-btn tm-paging-link">{{ p }}</a>
            </li>
                {% endif %}
            {% endfor %}
        </ul>
        </nav>
        </div>
        {% endif %}


            <!-- <div class="tm-prev-next-wrapper">
                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next disabled tm-mr-20">Prev</a>
                <a href="#" class="mb-2 tm-btn tm-btn-primary tm-prev-next">Next</a>
            </div> -->

        <div class="tm-prev-next-wrapper">
            {% if page_obj.has_previous %}
            <li class="mb-2 tm-btn tm-btn-primary tm-prev-next">
                <a href="?page={{ page_obj.previous_page_number }}">prev</a>
            </li>

            {% endif %}
            {% if page_obj.has_next %}
            <li class="mb-2 tm-btn tm-btn-primary tm-prev-next">
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            </li>
            {% endif %}
        </div>
        {% endblock navigation %}

    