{% extends 'base.html' %}


{% block content %}
        <!-- Search form -->
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">                    
                    <div class="mb-4">
                        
                        <h2 class="pt-2 tm-color-primary tm-post-title">{{post.title}}</h2>
                        <p class="tm-mb-40">{{ post.time_created }} от {{post.author|default:'Аноним'}}</p>
                        {% if post.photo %}
                        <img src="{{post.photo.url}}" alt="Image" class="img-fluid"> 
                        {% endif %}
                        <p></p>
                        <p>{{post.description}}</p>
                            <p>{{post.content|linebreaks}}</p>
                                <a href="#">
                        <span class="d-block text-right tm-color-primary"> {{post.cat}} </span></a>
                    </div>
                    
                    <!-- Comments -->
                    {% include "mainapp/comments.html" with comments=post.comments.all%}




                </div>
            </div>
            
        </div>


<script src="mainapp/js/jquery.min.js"></script>
<script src="mainapp/js/templatemo-script.js"></script>
{% endblock content %}

